#amenity-grid{
  display:grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows:20vh 20vh;
  grid-row-gap:0.5rem;
  grid-column-gap:0.5rem;
  @include mediaQuery(750px){
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 1fr 1fr;
  }
}

.amenity{
  display:flex;
  align-items:flex-end;
  justify-content:center;
  background-size:cover;
  background-position:center;
  border-radius:1rem;
  overflow:hidden;
}

.screen{
  width:100%;
  background-color:rgba(0,0,0,0.5);
}

#wifi{
  background-image:url('../assets/img/wifi.jpg');
}

#coffee{
  background-image:url('../assets/img/coffee.jpg');
}

#group{
  background-image:url('../assets/img/group-work.jpg');
}

#art{
  background-image:url('../assets/img/art.jpg');
}
