@mixin mediaQuery($min){
  @media screen and (min-width:$min){
    @content;
  }
}

@mixin centered-back-img($url){
  background-image:url($url);
  background-size:cover;
  background-position:center center;
}
