.top{
  height:50vh;
  width:100%;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
  img{
    width:100%;
  }
  .banner{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background-color:rgba(0,0,0,0.5);
    width:100%;
    text-align:center;
    padding:10px;
  }
}
.bottom{
  height:50vh;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  align-content:center;
}

.green{
  background-color:$green;
}
.red{
  background-color:$red;
}
.purple{
  background-color:$purple;
}
.blue{
  background-color:$blue;
}

#logo-top{
  @include centered-back-img('../assets/img/work-space/entrance.png');
}

#amenities-top{
  @include centered-back-img('../assets/img/work-space/coffee-area.png');
}

#pricing-top{
  @include centered-back-img('../assets/img/work-space/meeting-area.png');
}

#contact-top{
  @include centered-back-img('../assets/img/contact.jpg');
}
